body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(204, 231, 239);
}
#testbox {
    border-radius: 30px;   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 5px;
    margin: 20px;
}

.content{
 justify-content: center;
 
}

form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc; 
}


input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}
input:hover, textarea:hover, select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
}

select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
    }
    select, table {
    width: 100%;
    }
    option {
    background: #fff;
    }


.btn-block {
        margin-top: 20px;
        text-align: center;
}


button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }


#container_rest{
    border-radius: 3%;  
    background-color: #fff;
    overflow: hidden;
    perspective: 1px;
    justify-content: center;
    align-items: center;
    height: inherit;
    margin: 10px;
}    



table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
  }
  
  
tr:nth-child(odd)		
{ background-color:#eee; 
}
tr:nth-child(even)	
{ background-color:#fff; 
}
  
tr:hover            
  { background-color: #ffff99;}