{% extends 'base.html' %}

{% block head%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% endblock %}

{% block body%}
<body>


 <div class="container" id="container_rest">
     <div class="row"> 
      <div class="col d-flex justify-content-center text-center">
         <h1>
            Results of the Model for Employee: {{namep}} 
         </h1>
     </div>
    
    </div>
     <div class="row">
      <div class="col d-flex justify-content-center text-center">
        {%if data ==1%}
        <h2>The employee is NON risk</h2>
        
        {%else%}
        <h2> The employee is HIGH risk</h2>
        
        {%endif%} 
      </div>  
     </div>

 

</div>

<br><br>
<a href="/"> Back</a>
</body>


{% endblock %}

</html>