{% extends 'base.html' %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body%}
<body>


 <div class="container" id="container_rest">
     <div class="row"> 
    <h1>
        Results of the Model for Employee: {{namep}} 
     </h1>
     
    </div>
     <div class="row">
        {%if data ==1%}
        <h2>The employee is NON risk</h2>
        
        {%else%}
        <h2> The employee is HIGH risk</h2>
        
        {%endif%}   
     </div>

 

</div>

<br><br>
<a href="/"> Back</a>
</body>


{% endblock %}

</html>